.topToBtm{
    position: relative;
}
.iconPosition{
  position: fixed;
  bottom: 40px;
  right: 30px;
  z-index: 99;
}
.iconStyle{
  background-image: linear-gradient(rgb(229, 133, 238),#fff);
  border-radius: 50%;
  height: 45px;
  width: 45px;
  color: #000;
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all .5s ease-in-out;
}
.iconStyle:hover{
  animation: none;
}
@keyframes movebtn {
  0%{
    transform: translateY(0px);
  }
  25%{
    transform: translateY(10px);
  }
  50%{
    transform: translateY(0px);
  }
  75%{
    transform: translateY(-10px);
  }
  100%{
    transform: translateY(0px);
  }
}